name: MemesAPI tests

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      deployment_target:
        description: Choose target
        required: true
        default: all_tests
        type: choice
        options:
          - all_tests
          - auth_tests
          - create_tests
          - crud_tests
          - delete_tests
          - memes_tests
          - negative_tests
          - positive_tests
          - read_tests
          - regression_tests
          - smoke_tests
          - fully_update_tests

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run all tests for push/PR
        if: github.event_name == 'push' || github.event_name == 'pull_request'
        run: pytest

      - name: Run all tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'all_tests'
        run: pytest

      - name: Run authorization tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'auth_tests'
        run: pytest -m auth

      - name: Run POST tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'create_tests'
        run: pytest -m create

      - name: Run POST, GET, PUT, PATCH, DELETE tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'crud_tests'
        run: pytest -m crud

      - name: Run DELETE tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'delete_tests'
        run: pytest -m delete

      - name: Run memes tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'memes_tests'
        run: pytest -m memes

      - name: Run negative tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'negative_tests'
        run: pytest -m negative

      - name: Run positive tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'positive_tests'
        run: pytest -m positive

      - name: Run GET tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'read_tests'
        run: pytest -m read

      - name: Run regression tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'regression_tests'
        run: pytest -m regression

      - name: Run smoke tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'smoke_tests'
        run: pytest -m smoke

      - name: Run PUT tests
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.deployment_target == 'fully_update_tests'
        run: pytest -m fully_update


      - name: Upload Allure results as artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
          retention-days: 1


  publish-report:
    runs-on: ubuntu-latest
    needs: run-tests
    if: always()

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Download Allure results artifact
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results

      - name: Get Allure history
        uses: actions/checkout@v5
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          gh_pages: gh-pages
          keep_reports: 20

      - name: Deploy report to Github Pages
        uses: peaceiris/actions-gh-pages@v4
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history